* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #f1f5f9;
 
}

.container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.navbar {
  background: linear-gradient(90deg, #1e293b, #0f172a);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.navbar h1 {
  color: white;
  font-size: 28px;
  letter-spacing: 1px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #334155;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(56, 189, 248, 0.4);
}

.card h2 {
 color: #38bdf8;
  margin-bottom: 10px;
}

.card p {
  margin: 6px 0;
  color: #cbd5e1;
}

.card strong {
  color: #f1f5f9;
}